<nav>
<!-- 
    <ul>
        <li><a class="button button-primary" href="#">iTunes</a></li>
        <li><a class="button button-primary" href="#">Spotify</a></li>
        <li><a class="button button-primary" href="#">Anchor button</a></li>
    </ul>
-->
    <ul>
        <li><a href="https://podcasts.apple.com/us/podcast/unnamed-podcast/id1591027552" _target="_blank">iTunes</a></li> 
        <li><a href="https://open.spotify.com/show/1yw5wbr2ws9IFeBsbS4RLQ" _target="_blank">Spotify</a></li>
        <li><a href="https://podcasts.google.com/feed/aHR0cHM6Ly9ncmVnb3J5Y29sZW1hbi5naXRodWIuaW8vdGhlLXVubmFtZWQtcG9kY2FzdC9wb2RjYXN0LnhtbA?sa=X&ved=2ahUKEwj4pdfn2Yb0AhUzNqYKHUovDPgQ9sEGegQIARAC _target="_blank"">Google Podcast</a></li>
    </ul> 
    <ul>
        <li><a href="{{ site.baseurl }}/about.html">About</a></li>
        <li><a href="{{ site.baseurl }}/podcast.xml">RSS</a></li>
                <li><a href="https://podcasters.amazon.com/podcasts/286f0ec1-c226-4ae6-8d52-40e1a51a426b">Amazon Music</a></li>

    </ul> 
</nav>
